{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-explore.png"/>
{{/extend}}
<main id="explore-content">
  <div id="search-container">
    <input type="text" id="search" class="search" placeholder="Enter keywords or tags in the format #tag to search" value="">
    <div id="sort-btns">
      <button class="button-primary sort" type="button" data-sort="trip">sort by name</button>
      <button class="button-primary sort" type="button" data-sort="favcount">sort by popularity</button>
      <button class="button-primary sort" type="button" data-sort="date-made">sort by date</button>
    </div>
  </div>
  <ul class="paginationTop"></ul>
  <ul id="card-container" class="list">
    <li>
      <a href="{{url}}">
        <div class="card">
          <img src="/imgs/temp.png">
          <div class="overlay">
            <div class="hover-text">
              <h5 class="trip">{{title}}</h5>
              <p class="description">{{description}}</p>
              <span class="hidden-details tags">{{#each tags}}#{{this}}{{/each}}</span>
              <span class="hidden-details locations">{{#each locations}}{{this.name}} {{/each}}</span>
              <span class="hidden-details address">{{#each tags}}{{this.address}} {{/each}}</span>
              <span class="hidden-details author">{{author}}</span>
              <span class="hidden-details favcount">{{favoriteCount}}</span>
              <span class="hidden-details date-made">{{dateCreated}}</span>
              <span class="hidden-details date-update">{{dateUpdated}}</span>
              <span class="hidden-details url">{{url}}</span>
            </div>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="{{url}}">
        <div class="card">
          <img src="/imgs/temp.png">
          <div class="overlay">
            <div class="hover-text">
              <h5 class="trip">Test Title Here</h5>
              <p class="description">Some written description here</p>
              <span class="hidden-details tags">#fun #woo #awesome</span>
              <span class="hidden-details locations">rakiraki</span>
              <span class="hidden-details address">balh blfowiej</span>
              <span class="hidden-details author">arlen pan</span>
              <span class="hidden-details favcount">2113</span>
              <span class="hidden-details date-made">5/26/17</span>
              <span class="hidden-details date-update">5/26/17</span>
              <span class="hidden-details url">4t82u</span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <ul class="paginationBottom"></ul>
</main>

{{#extend "scripts"}}
{{/extend}}
