<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/raleway.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  {{{block "stylesheets"}}}
</head>

<body>
  <div class="register modal close-link">
    <section class="popup">
      <div class="popup-content">
        <h3>Register</h3>
        <p>Register for a RoadRunner account below.</p>
        <div class="form-content">
          <form id="register-form" action="/register" method="post">
            <div class="form-group">
              <label for="register-name">Name</label>
              <div class="input-helpers">
                <input type="text" id="register-name" name="name" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="register-email">Email</label>
              <div class="input-helpers">
                <input type="email" id="register-email" name="email" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="register-password">Password</label>
              <div class="input-helpers">
                <input type="password" id="register-password" name="password" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="register-password2">Confirm Password</label>
              <div class="input-helpers">
                <input type="password" id="register-confirm" name="password2" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <input type="submit" id="register-submit" class="submit button-primary" value="Register">
          </form>
        </div>
        <a class="close-link" href="javascript:void(0)"><i class="fa fa-times fa-lg close-modal" aria-hidden="true"></i></a>
        <a class="pop-signin" href="#">
          <p>Already have an account? Sign in here.</p>
        </a>
      </div>
    </section>
  </div>
  <div class="signin modal close-link">
    <section class="popup">
      <div class="popup-content">
        <h3>Sign In</h3>
        <p>Enter your email and password below.</p>
        <div class="form-content">
          <form id="signin-form" action="/signin" method="post">
            <div class="form-group">
              <label for="signin-email">Email</label>
              <div class="input-helpers">
                <input type="email" id="signin-email" name="email" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <div class="form-group">
              <label for="signin-password">Password</label>
              <div class="input-helpers">
                <input type="password" id="signin-password" name="password" value required>
                <span class="field-error"></span>
              </div>
            </div>
            <input type="submit" id="signin-submit" class="submit button-primary" value="Sign In">
          </form>
        </div>
        <a class="close-link" href="javascript:void(0)"><i class="fa fa-times fa-lg close-modal" aria-hidden="true"></i></a>
        <a class="pop-register" href="#">
          <p>Don't have an account? Register here.</p>
        </a>
      </div>
    </section>
  </div>

  <header class="navbar">
    <div class="navbar-container">
      <div class="navbar-brand">
        <a href="/"><i class="fa fa-car" aria-hidden="true"></i> ROADRUNNER</a>
      </div>
      <nav class="navbar-lists hide">
        <div class="navbar-left">
          <ul class="navbar-links">
            <li><a href="/explore">Explore</a></li>
            <!-- IF USER SIGNED IN -->
            {{#if user}}
              <li><a href="/create">Create</a></li>
              <li><a href="#">My Lists</a></li>
            {{/if}}
          </ul>
        </div>
        <div class="navbar-right">
          <ul class="navbar-links">
            <!-- IF USER SIGNED IN -->
            {{#if user}}
              <li><a href="#">Favorites</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="/signout">Sign Out</a></li>
            {{else}}
              <li><a class="pop-register" href="#">Register</a></li>
              <li><a class="pop-signin" href="#">Sign In</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
      <div class="navbar-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </div>
    </div>
  </header>

  <!-- <div class="loader">
    <i class="fa fa-compass fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
  </div> -->

  <!-- INDIVIDUAL PAGE BODY HERE -->
  {{{body}}}
</body>

<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/Sortable.min.js"></script>
<script type="text/javascript" src="/javascripts/selectize.min.js"></script>
<script type="text/javascript" src="/javascripts/ui-interact.js"></script>
<script type="text/javascript" src="/javascripts/global.js"></script>
{{{block "scripts"}}}

</html>
