{{#extend "stylesheets"}}
<link rel="shortcut icon" type="image/png" href="/favicons/favicon-map.png"/>
<link rel="stylesheet" href="/stylesheets/selectize.default.css">
{{/extend}}
<main>
  <div class="error-message modal close-link">
    <section class="popup">
      <div class="popup-content">
        <h3>Whoa There!</h3>
        <p>Adding this location to the road trip requires driving through a body of water!</p>
        <a class="close-link" href="javascript:void(0)"><i class="fa fa-times fa-lg close-modal" aria-hidden="true"></i></a>
      </div>
    </section>
  </div>
  <div id="side-menu-toggle-wrapper">
    <button id="side-menu-toggle" type="button" name="side-menu-toggle">
      <span class="trip-title">{{title}}</span>
      <i class="fa fa-lg fa-caret-square-o-up" aria-hidden="true"></i>
    </button>
  </div>
  <div id="map-container">
    <div id="map"></div>
  </div>
  <div id="side-menu">
    <section id="side-menu-content">
      <h5 class="trip-title">{{title}} by {{author.name}}</h5>
      <p id="desc">{{description}}</p>
      <input type="checkbox" name="curr-location" id="curr-location" value="Current Location" onclick="initMap()"> Start from Current Location
      <div id="list-container">
        <ol id="waypoints">
          {{#each locations}}
          <li name="{{this.name}}" data-value="{{this.address}}" class="points">{{this.name}}</li>
          {{/each}}
        </ol>
      </div>
      <div id="tag-container" class="readonly">
        <label for="trip-tags">Tags:</label>
        <input id="trip-tags" class="selectized" type="text" name="tags" value="{{#each tags}}{{this}},{{/each}}">
      </div>
      <div id="side-menu-btns">
        {{#if user}}
        <input class="button-primary" type="button" id="fav-list" value="Favorite">
        <input class="button-primary" type="button" id="edit-list" value="Edit">
        {{else}}
        <input class="button-primary pop-register" type="button" id="edit-list" value="Edit">
        {{/if}}
      </div>
      <div id="total-duration"></div>
      <div id="total-distance"></div>
      <div id="directions-panel"></div>
    </section>
  </div>
</main>

{{#extend "scripts"}}
<script type="text/javascript" src="/javascripts/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7l3pxQ6dq-Kgg-aVUO6-A0zf2swG2Cec&callback=initMap&libraries=places">
</script>
<script>
console.log(`{{_id}}`);

// click handler for favorite
$("#fav-list").click(function() {
  $.post('/favorite', { id: `{{_id}}` });
});
</script>
{{/extend}}
